body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-bar a {
  color: white;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%)
}
